@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(-43deg,  #6988A7, #DFE3E9);
  background-repeat: no-repeat;
  background-color: #6988A7;

}

#__next, main {
  @apply w-full h-full;
}

@layer base {
  .btn-primary {
    @apply px-4 py-2 bg-accent text-primary border border-accent 
           hover:bg-secondary hover:text-primary transition-all duration-200 
           rounded-lg;
  }
  
  .input-primary {
    @apply px-4 py-2 bg-secondary text-primary border border-accent 
           focus:outline-none focus:ring-1 focus:ring-primary 
           rounded-lg;
  }

  .card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  h1 {
    color: #2E6B9E;
  }
  h2 {
    color: #0A1117;
  }
  p{
    color: #132D42;
  }
}