/* DataGrid Header Styling */
.custom-data-grid .MuiDataGrid-columnHeaders {
    background-color: #f0f0f0; /* Slightly darker than white */
    font-weight: bold;
}

/* Ensure header text is bold */
.custom-data-grid .MuiDataGrid-columnHeaderTitle {
    font-weight: bold;
}

.custom-data-grid .MuiDataGrid-root {
    border: none !important;
}

.custom-data-grid .MuiDataGrid-main {
    background-color: white;
}

.custom-data-grid .MuiDataGrid-footerContainer {
    background: white;
}
